body {
    padding-top: 50px;
    color: #fff;
    text-align: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.section {
    margin-bottom: 200px;
    margin-top: 250px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-no-bg {
    background-color: #323131;
}

/*.navbar-nav > li:hover {
    background-color: grey;
}*/
.navbar-inverse .navbar-nav > li > a {
transition: color 0.2s ease;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a.active {
    color: #e8643e;
}

.navbar-collapse {
    float: right;
}

.navbar-brand {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

footer {
    background-color: #323131;
    text-align: left;
    padding: 25px 0 20px;
    font-size: 21px;
}

.footer-copyright {
    margin-top: 18px;
}

.footer-social {
    text-align: right;
}

@media (max-width: 767px) {
    footer, .footer-copyright, .footer-social {
        text-align: center;
    }
}

.social-slide {
    height: 48px;
    width: 48px;
    margin: 10px;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

    .social-slide:hover {
        background-position: 0px -48px;
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
    }

.social-facebook {
    background-image: url('Images/facebook-icon.png');
}

.social-google {
    background-image: url('Images/google-icon.png');
}

.social-instagram {
    background-image: url('Images/instagram-icon.png');
}








/*Test*/
/*nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background: #1ABC9C;
}
 
nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #34495E;
}*/
.nav a.active {
  border-bottom: 2px solid #ecf0f1;
}

